In [6]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-py2.py3-none-any.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.3.0-py2.py3-none-any.whl (557 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 557.9/557.9 kB 4.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd 
import mysql.connector as connection

In [8]:
mydb = connection.connect(host = 'localhost', user = 'root', password = 'radhekrishna787', use_pure = True)

In [9]:
query = 'create database studentsmarksproject;'
cursor = mydb.cursor()

In [10]:
cursor.execute(query)

In [11]:
mydb.close()

In [12]:
from sqlalchemy import create_engine
df = pd.DataFrame(pd.read_csv(r"/Users/subhraneel/Desktop/LOVE TO LEARN/ThirdEye/ML Pipelines/StudentMarksML/notebooks/data/student.csv"))

In [13]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [16]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./opt/anaconda3/lib/python3.9/site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
!pip uninstall mysql-connector
!pip uninstall mysql-connector-python
!pip uninstall mysql-connector-python
!pip3 install mysql-connector-python

WARNING: Skipping mysql-connector as it is not installed.
WARNING: Skipping mysql-connector-python as it is not installed.
WARNING: Skipping mysql-connector-python as it is not installed.
Collecting mysql-connector-python
  Using cached mysql_connector_python-8.3.0-py2.py3-none-any.whl.metadata (1.9 kB)
Using cached mysql_connector_python-8.3.0-py2.py3-none-any.whl (557 kB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [30]:
pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 978.9 kB/s eta 0:00:00
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pymysql
pymysql.install_as_MySQLdb()

In [52]:
from sqlalchemy import create_engine
import pandas as pd

# Define database connection parameters
user_name = "root"
password = "radhekrishna787"  
host = "localhost"
database_name = "student"
table_name = "studentsmarksprojectdata"

# Create SQLAlchemy engine
engine = create_engine(f"mysql://{user_name}:{password}@{host}/{database_name}")

In [54]:
try: 
    df.to_sql(name = table_name, con = engine, if_exists = 'append', index = False)
    print("Data entered successfully")
except Exception as e: 
    print(e)

'Engine' object has no attribute 'cursor'

/var/folders/mm/cww5gl3j28x6b7sqs00fr65c0000gn/T/ipykernel_80868/4226314356.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(name = table_name, con = engine, if_exists = 'append', index = False)

In [55]:
query = "SELECT * From studentsmarksprojectdata"
df1 = pd.read_sql(query, engine)
print(df1)

/var/folders/mm/cww5gl3j28x6b7sqs00fr65c0000gn/T/ipykernel_80868/899427639.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql(query, engine)

AttributeError: 'Engine' object has no attribute 'cursor'